<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">

    </head>
    <body>
        <div class="ui menu">
            <div class="item">
                <a href="/">
                    <img class="logo" src="http://www.mizzmummy.com/wp-content/uploads/2014/11/f.png"/>
                </a>
            </div>
            <a class="active item" href="/">Home</a>
            <a class="item" href="/">Find A Tutor</a>
            <div class="right menu">
                <a class="item" href="/register">Register</a>
                <a class="item" href="/login">Log In</a>
                <a class="item" href="/">Log Out</a>
            </div>
        </div>
