<% include ../partials/header %>
<div class="jumbocontainer">
    <div class="ui text container">
        <div class="container">
            <h1 class="intro">Tutor Me Now!</h1>
                <h2 class="subintro">Tutoring Done Right</h2>
            <div class="middle aligned content center">
                    <a  href="/register/student"class="ui primary button">Start Tutoring Today</a>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>
