<% include ../partials/header %>
<h1>Please tell us what you are here for</h1>
<h3><a href="/register/tutor">To be a tutor?</a></h3>
<h3><a href="/register/student">To be a student?</a></h3>
<% include ../partials/footer %>
