<% include ../partials/header %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <div class="content">
          Student Login
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
              <div class="ui left icon input">
                <input type="text" name="username" placeholder="User Name">
              </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Don't have an account? <a href="/register">Sign Up</a>
    </div>
  </div>
</div>
<% include ../partials/footer %>
