<% include ../partials/header %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1>Whoops!</h1>
    <h4>Looks like an account with that username or email already exists</h4>
    <a class="ui blue primary button" href="/login">Login</a>
    <div class="ui message">
      Made a mistake? Sign Up Here <a href="/register">Log In</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
