<% include ../partials/header %>
<div class="ui middle aligned center aligned grid" style="margin:auto auto 30px; width:30%;">
  <div class="column">
    <h2 class="ui black image header">
      <div class="content">
        Register a Student account
      </div>
    </h2>
    <form class="ui large form" action="/register/student" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="student[firstName]" placeholder="First Name">
          </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="text" name="student[lastName]" placeholder="Last Name">
              </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="text" name="student[userName]" placeholder="User Name">
              </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="email" name="student[email]" placeholder="Email">
              </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" class="ui blue button primary" value="Register" />
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Already have an account? <a href="/login">Log In</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
