.logo{
    width: 3em;
    height: 3em;
}
.ui.menu{
    margin-bottom:0px;
}
.jumbocontainer{
    background-color: black;
    margin: 0;
    padding-top: 0px;
    height: 50%;

}
.intro{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;
}
.subintro{
    color: white;
    text-align: center;
    font-size: 24px;
}
.center{
    text-align: center;
}
