<% include ../partials/header %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <div class="content">
        Register a Tutor account
      </div>
    </h2>
    <form class="ui large form" action="/register/tutor" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="tutor[firstName]" placeholder="First Name">
          </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="text" name="tutor[lastName]" placeholder="Last Name">
              </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="text" name="tutor[userName]" placeholder="User Name">
              </div>
        </div>
        <div class="field">
              <div class="ui left icon input">
                <input type="email" name="tutor[email]" placeholder="Email">
              </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Register</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Already have an account? <a href="/login">Log In</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
